@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*reset*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-panel);
  font: 1.6rem sans-serif;
  margin: 0;
}
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(.1rem) translateZ(0);
  transform: perspective(.1rem) translateZ(0);
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #f77322;
  height: .2rem;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #59575c;
  --color-headings: #444444;
  --color-text: #c2c2c2;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 5.2rem;
  height: 2.7rem;
  background: #ebe1f7;
  float: right;
  border-radius: 10rem;
  position: absolute;
  margin-left: 21rem;
  margin-top: 6rem;
}

label:after {
  content: "";
  position: absolute;
  top: .3rem;
  left: .3rem;
  width: 2rem;
  height: 2rem;
  background: #f77322;
  border-radius: 9rem;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - .5rem);
  transform: translateX(-100%);
}

label:active:after {
  width: 4.5rem;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

header {
  background-color: rgb(145, 143, 143);
  width: 100%;
}

#colorblack {
  background-color: var(--color-text);
}

.logo img {
  margin-left: 3rem;
  border-radius: .5rem;
}

.navbar {
  font-size: 2.2rem;
  background-image: var(--bg-panel);
  padding-bottom: 1rem;
  margin: auto;
}

.navbar ul {
  max-width: 100%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.main-nav li {
  text-align: center;
  margin: 1.5rem auto;
}

.logo {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

.logo img{
  width: 10rem;
}

.navbar-toggle {
  position: absolute;
  top: 5rem;
  right: 2rem;
  cursor: pointer;
  color: #f77322;
  font-size: 4rem;
}

.logo:hover,
.nav-links:hover {
  color: rgb(196, 195, 195);
}

.active {
  display: block;
}

.para {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  margin-top: 10rem;
  margin-left: 2rem;
  font-weight: bold;
  color: var(--color-text);
}

strong {
  color: #f77322;
}

.photo img {
  max-width: 100%;
  border: 0rem solid;
  border-radius: 50%;
  line-height: 2.5rem;
  margin-left: 4.5rem;
  margin-top: 5rem;
  width: 30rem;
  height: 30rem;
}

#arrow img {
  max-width: 100%;
  margin-top: 7rem;
  margin-left: 15rem;
  width: 8rem;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.1rem) translateZ(0);
  transform: perspective(0.1rem) translateZ(0);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  -webkit-transform: translateY(0.8rem);
  transform: translateY(0.8rem);
}

#profil {
  text-align: center;
  margin-left: 3rem;
  font-size: 2rem;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

#profil h1 {
  margin-left: -1.5rem;
}

.profil_desc {
  text-align: center;
  margin-left: 2rem;
  margin-top: 4rem;
  font-size: 1.8rem;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.profil_desc p {
  margin-left: -2rem;
}

.img1 img {
  max-width: 100%;
  width: 50%;
  margin: 2.8rem 0rem 0rem 11rem;
}

.hobbies {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: var(--color-text);
  font-weight: bold;
}

#hr2 {
  max-width: 100%;
  margin-top: 4rem;
  margin-left: 10rem;
  width: 50%;
}

#cv {
  font-size: 2rem;
  color: var(--color-text);
}

#cv h1 {
  margin-top: 5rem;
  margin-left: 11rem;
}

.chart {
  color: #d64518;
}

.chart img {
  margin: 4rem 0rem 0rem 8.5rem;
  max-width: 100%;
  width: 11rem;
}

.chart2 {
  color: #1837e6;
}

.chart2 img {
  margin: 10rem 0rem 10rem 8.5rem;
  max-width: 100%;
  width: 11rem;
}

.chart3 {
  color: #5300da;
}

.chart3 img {
  margin: 2rem 0rem 10rem 8.5rem;
  max-width: 100%;
  width: 11rem;
}

.chart4 {
  color: #b9afaf;
}

.chart4 img {
  margin: 2rem 0rem 10rem 8rem;
  max-width: 100%;
  width: 14rem;
}

.chart5 {
  color: #b9afaf;
}

.chart5 img {
  margin: 0rem 0rem 10rem 8.5rem;
  max-width: 100%;
  width: 14rem;
}

.chart6{
  color: #f0db4f;
}

.chart6 img {
  margin: 4rem 0rem 10rem 10rem;
  max-width: 100%;
  width: 11rem;
}
/*Skill circle bars*/
@import url(https://fonts.googleapis.co/css?family=montserrat:600,400,300);

.circle-big {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  margin: -119rem 0rem 2.5rem 19rem;
}

.circle-big svg {
  width: 11.4rem;
  height: 11.4rem;
}

.circle-big .bg {
  fill: none;
  stroke-width: 1rem;
  stroke: #343035;
}

.circle-big .progress {
  fill: none;
  stroke-width: 1rem;
  stroke: #d48e24;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 120;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.circle-big .text {
  position: absolute;
  width: 100%;
  top: 3.7rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 120;
  }
}

.circle-big2 {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  margin: -97rem 0rem 2.5rem 19rem;
}

.circle-big2 svg {
  width: 11.4rem;
  height: 11.4rem;
}

.circle-big2 .bg2 {
  fill: none;
  stroke-width: 1rem;
  stroke: #343035;
}

.circle-big2 .progress2 {
  fill: none;
  stroke-width: 1rem;
  stroke: #d48e24;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 180;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.circle-big2 .text2 {
  position: absolute;
  width: 100%;
  top: 3.7rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes big2 {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 200;
  }
}

.circle-big3 {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  margin: -77rem 0rem 2.5rem 19rem;
}

.circle-big3 svg {
  width: 11.4rem;
  height: 11.4rem;
}

.circle-big3 .bg3 {
  fill: none;
  stroke-width: 1rem;
  stroke: #343035;
}

.circle-big3 .progress3 {
  fill: none;
  stroke-width: 1rem;
  stroke: #d48e24;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 235;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.circle-big3 .text3 {
  position: absolute;
  width: 100%;
  top: 3.7rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}

@keyframes big3 {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 235;
  }
}

.circle-big4 {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  margin: -56rem auto 2.5rem 19rem;
}

.circle-big4 svg {
  width: 11.4rem;
  height: 11.4rem;
}

.circle-big4 .bg4 {
  fill: none;
  stroke-width: 1rem;
  stroke: #343035;
}

.circle-big4 .progress4 {
  fill: none;
  stroke-width: 1rem;
  stroke: #d48e24;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 200;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.circle-big4 .text4 {
  position: absolute;
  width: 100%;
  top: 3.7rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes big4 {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 200;
  }
}

.circle-big5 {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  margin: -35rem 0rem 2.5rem 19rem;
}

.circle-big5 svg {
  width: 11.4rem;
  height: 11.4rem;
}

.circle-big5 .bg4 {
  fill: none;
  stroke-width: 1rem;
  stroke: #343035;
}

.circle-big5 .progress4 {
  fill: none;
  stroke-width: 1rem;
  stroke: #d48e24;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 200;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.circle-big5 .text4 {
  position: absolute;
  width: 100%;
  top: 3.7rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes big4 {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 200;
  }
}

.circle-big6 {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  margin: -8rem 0rem 0rem 19rem;
}

.circle-big6 svg {
  width: 114px;
  height: 114px;
}

.circle-big6 .bg4 {
  fill: none;
  stroke-width: 10px;
  stroke: #343035;
}

.circle-big6 .progress4 {
  fill: none;
  stroke-width: 10px;
  stroke: #d48e24;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 200;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.circle-big6 .text4 {
  position: absolute;
  width: 100%;
  top: 37px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}

@keyframes big4 {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 200;
  }
}

.formations {
  color: var(--color-text);
  margin-left: 10rem;
  font-size: 2rem;
  margin-top: 8rem;
  font-family: "Montserrat", sans-serif;
}

.formations img{
  max-width: 100%;
  width: 10rem;
}

.formations p {
  font-size: 2rem;
}

.date {
  margin: 7rem 0rem 0rem -9rem;
}

.formation {
  margin: -7.3rem 0rem 0rem 16rem;
}

.date2 {
  margin: 0rem 0rem 0rem -9rem;
}

.formation2 {
  margin: -7.2rem 0rem 0rem 16rem;
}

.date3 {
  margin: 0rem 0rem 0rem -9rem;
}

.formation3 {
  margin: -7rem 0rem 0rem 16rem;
}

.date4 {
  margin: 2rem 0rem 0rem -9rem;
}

.formation4 {
  margin: -7rem 0rem 0rem 16rem;
}

#hr3 {
  max-width: 100%;
  margin-top: 4rem;
  margin-left: 10rem;
  width: 50%;
}

#curiosite {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 3.5rem;
  color: var(--color-text);
}

#curiosite p {
  margin: 2rem 0rem 0rem 0rem;
  font-size: 2.2rem;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#curiosite img {
  margin: 3rem 0rem 0rem 12rem;
  max-width: 100%;
  width: 20rem;
  border-radius: 0.5rem;
}

#creativite {
  font-size: 3.5rem;
  color: var(--color-text);
}

#creativite h1 {
  margin: 2rem 0rem 0rem 2rem;
}

#creativite p {
  margin: 2rem 0rem 0rem 2rem;
  font-size: 2.2rem;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#creativite img {
  max-width: 100%;
  margin: 0rem 0rem 0rem 9rem;
}

#concept {
  margin: 2rem 0rem 0rem 2rem;
  font-size: 3.5rem;
  color: var(--color-text);
}

#concept p {
  margin: 2rem 0rem 0rem 0rem;
  font-size: 2.2rem;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#concept img {
  max-width: 100%;
  width: 50rem;
  margin: 0rem 0rem 0rem -1rem;
}

#hr4 {
  max-width: 100%;
  margin-top: 4rem;
  margin-left: 12rem;
  width: 50%;
}

.portfolio {
  margin: 15rem 0rem 0rem 0rem;
  text-align: center;
  display: inline-block;
}

.portfolio h1 {
  margin: -15rem 0rem 0rem 0rem;
  font-size: 3rem;
}

.portfolio img {
  max-width: 100%;
  display: inline-block;
  width: 60rem;
  border-radius: 1rem;
}

.portfolio p {
  color: var(--color-text);
  background-color: var(--bg-panel);
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  width: 35%;
  margin: auto;
  font-weight: bold;
}

.wordpress p {
  margin-top: -0.5rem;
}

.hcj {
  margin-top: 3rem;
}

.hcj p {
  margin-top: -0.4rem;
}

.hcjpm {
  margin-top: 3rem;
}

.hcjpm1 {
  margin-top: 3rem;
}

.java {
  margin-top: 3rem;
}

.hcp {
  margin-top: 3rem;
}

#hr5 {
  max-width: 100%;
  margin-top: 4rem;
  margin-left: 11.8rem;
  width: 50%;
}

#contact h1 {
  display: inline-block;
  margin: 5rem 0rem 0rem 10rem;
  font-size: 3.5rem;
}

input[type="text"],
select {
  width: 70%;
  padding: 1.2rem;
  border: 0.1rem solid grey;
  border-radius: 2.2rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
  font-style: italic;
  font-weight: bold;
}

textarea{
  max-width: 100%;
  width: 70%;
  padding: 1.2rem;
  border: 0.1rem solid grey;
  border-radius: 2.2rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
  font-style: italic;
  font-weight: bold;
  height: 18rem;
}

input[type="submit"] {
  background-color: #303030;
  color: white;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 2.2rem;
  cursor: pointer;
  margin-left: 8rem;
}

input[type="submit"]:hover {
  background-color: #f77322;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#warning {
  color: #d64518;
  text-align: center;
}

#success {
  color: #f8b891;
  text-align: center;
}

.container {
  border-radius: 0.5rem;
  background-color: var(--bg-panel);
  padding: 2rem;
  margin-left: 17%;
  margin-top: 4rem;
}

footer p{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-top: -3rem;
}

#myBtn {
  max-width: 100%;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 3rem;
}

.linkedin img {
  max-width: 100%;
  width: 3.5rem;
  margin-top: 4rem;
  margin-left: 18rem;
  border: 0px solid;
  border-radius: 0.3rem;
}

.github img {
  max-width: 100%;
  width: 3.2rem;
  margin: -3.8rem 0rem 4rem 23rem;
  border: 0px solid;
  border-radius: 0.3rem;
  max-width: 80%;
}

#coeur {
  color: #f77322;
  font-size: 2.5rem;
}

@media screen and (min-width: 900px) {
  header {
    background-color: rgb(145, 143, 143);
    width: 100%;
  }

  #colorblack {
    background-color: var(--color-text);
    max-width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    max-width: 100%;
    margin: -10rem 0rem 0rem 50rem;
  }

  .main-nav {
    display: flex;
    margin-right: 3rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 4rem;
  }

  .logo {
    margin: -2rem;
    padding: 0;
  }

  .logo img {
    margin-bottom: 1rem;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #fff;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5.2rem;
    height: 2.7rem;
    background: #ebe1f7;
    float: right;
    border-radius: 100px;
    margin-left: 300px;
    margin-top: 40px;
  }

  .logo img {
    margin-top: 2rem;
    margin-left: 10rem;
    border-radius: 0.5rem;
  }

  .para {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    margin-top: 13rem;
    margin-left: 30rem;
    font-weight: bold;
    color: var(--color-text);
  }

  .photo {
    max-width: 100%;
    margin-left: 75rem;
  }

  .photo img {
    margin-top: 4rem;
    border: 0px solid;
    border-radius: 50%;
    line-height: 2.5rem;
  }

  #arrow img {
    max-width: 100%;
    margin-top: 7rem;
    margin-left: 65rem;
    width: 8rem;
  }

  #profil h1 {
    text-align: center;
    font-size: 3.5rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
  }

  .profil_desc p {
    text-align: center;
    font-size: 2.2rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .img1 img {
    max-width: 100%;
    width: 30rem;
    margin: 5rem 0rem 0rem 52rem;
  }

  .hobbies p {
    margin: 5rem 0rem 0rem 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    color: var(--color-text);
  }

  #hr2 {
    max-width: 100%;
    margin-top: 3rem;
    margin-left: 35rem;
    width: 50%;
  }

  #cv h1 {
    font-size: 3.5rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    margin: 5rem 0rem 0rem 50rem;
  }

  .chart {
    display: inline-block;
    color: #d64518;
}

.chart img {
    max-width: 100%;
    width: 12rem;
    margin: 3rem 0rem 0rem 5rem;
}

.chart2 {
    display: inline-block;
    color: #1837e6;
}

.chart2 img {
    max-width: 100%;
    width: 12rem;
    margin: 3rem 0rem 0rem 9rem;
}

.chart3 {
    display: inline-block;
    color: #5300da;
}

.chart3 img {
    max-width: 100%;
    width: 12rem;
    margin: 3rem 0rem 2rem 10rem;
}

.chart4 {
    display: inline-block;
    color: #b9afaf;
}

.chart4 img {
    max-width: 100%;
    width: 14rem;
    margin: 0rem 0rem 1.5rem 10rem;
}

.chart5 {
    display: inline-block;
    color: #e9961b;
}

.chart5 img {
    max-width: 100%;
    width: 14rem;
    margin: 0rem 3rem 1.5rem 9rem;
}
 
.chart6 {
    display: inline-block;
    color: #e9961b;
}

.chart6 img {
    max-width: 100%;
    width: 9rem;
    margin: 0rem 3rem 1.5rem 8rem;
}
/*Skill circle bars*/
@import url(https://fonts.googleapis.co/css?family=montserrat:600,400,300);
  
.circle-big {
    position: absolute;
    width: 11.4rem;
    height: 11.4rem;
    margin: 4rem 0rem 0rem 5.3rem;
}
  
.circle-big svg {
    width: 114px;
    height: 114px;
}
  
.circle-big .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
}
  
.circle-big .progress {
    fill: none;
    stroke-width: 10px;
    stroke: #d48e24;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 120;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}
  
.circle-big .text {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}
  
@keyframes big {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 120;
    }
}
  
.circle-big2 {
    position: absolute;
    width: 11.4rem;
    height: 11.4rem;
    margin: 4rem 0rem 0rem 27rem;
}
  
.circle-big2 svg {
    width: 114px;
    height: 114px;
}
  
.circle-big2 .bg2 {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
}
  
.circle-big2 .progress2 {
    fill: none;
    stroke-width: 10px;
    stroke: #d48e24;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 180;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}
  
.circle-big2 .text2 {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}
  
@keyframes big2 {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 200;
    }
}
  
.circle-big3 {
    position: absolute;
    width: 11.4rem;
    height: 11.4rem;
    margin: 4rem 0rem 0rem 49.5rem;
}
  
.circle-big3 svg {
    width: 114px;
    height: 114px;
}
  
.circle-big3 .bg3 {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
}
  
.circle-big3 .progress3 {
    fill: none;
    stroke-width: 10px;
    stroke: #d48e24;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 235;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}
  
.circle-big3 .text3 {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}
  
@keyframes big3 {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 235;
    }
}
  
.circle-big4 {
    position: absolute;
    width: 11.4rem;
    height: 11.4rem;
    margin: 4rem 0rem 0rem 73rem;
}
  
  .circle-big4 svg {
    width: 114px;
    height: 114px;
}
  
.circle-big4 .bg4 {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
}
  
.circle-big4 .progress4 {
    fill: none;
    stroke-width: 10px;
    stroke: #d48e24;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 200;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}
  
.circle-big4 .text4 {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}
  
@keyframes big4 {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 200;
    }
}
  
.circle-big5 {
    position: absolute;
    width: 11.4rem;
    height: 11.4rem;
    margin: 4rem 0rem 0rem 96rem;
}
  
.circle-big5 svg {
    width: 114px;
    height: 114px;
}
  
.circle-big5 .bg4 {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
}
  
.circle-big5 .progress4 {
    fill: none;
    stroke-width: 10px;
    stroke: #d48e24;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 200;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}
  
.circle-big5 .text4 {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}
  
@keyframes big4 {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 200;
    }
}
  
.circle-big6 {
    position: absolute;
    width: 11.4rem;
    height: 11.4rem;
    margin: 4rem 0rem 0rem 119rem;
}
  
.circle-big6 svg {
    width: 114px;
    height: 114px;
}
  
.circle-big6 .bg4 {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
}
  
.circle-big6 .progress4 {
    fill: none;
    stroke-width: 10px;
    stroke: #d48e24;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 200;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}
  
.circle-big6 .text4 {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}
  
@keyframes big4 {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 200;
    }
}

  .formations {
    color: var(--color-text);
    margin-left: 10rem;
    font-size: 2.5rem;
    margin-top: 18rem;
  }

  .formations img{
    max-width: 100%;
    width: 12rem;
    margin-top: 4rem;
  }
  
  .formations p {
    font-size: 2rem;
  }
  
  .date {
    margin: 4rem 0rem 0rem -7rem;
  }
  
  .formation {
    margin: -7rem 0rem 0rem 16rem;
  }
  
  .date2 {
    margin: 0rem 0rem 0rem -7rem;
  }
  
  .formation2 {
    margin: -7rem 0rem 0rem 16rem;
  }
  
  .date3 {
    margin: 5rem 0rem 0rem -7rem;
  }
  
  .formation3 {
    margin: -7rem 0rem 0rem 16rem;
  }
  
  .date4 {
    margin: 2rem 0rem 0rem -7rem;
  } 
  
  .formation4 {
    margin: -7rem 0rem 0rem 16rem;
  }

  #hr3 {
    max-width: 100%;
    margin: 4rem 0rem 0rem 40rem;
  }

  #curiosite {
    margin: 5rem 0rem 0rem 8rem;
    font-size: 4rem;
    color: var(--color-text);
  }

  #curiosite p {
    margin: 2rem 0rem 0rem 7rem;
    font-size: 3rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  #curiosite img {
    max-width: 100%;
    margin: 3rem 0rem 0rem 50rem;
    border-radius: 0.5rem;
  }

  #creativite {
    margin: 5rem 0rem 0rem 6rem;
    font-size: 4rem;
    color: var(--color-text);
  }

  #creativite p {
    margin: 2rem 0rem 0rem 7rem;
    font-size: 3rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  #creativite img {
    max-width: 100%;
    margin: 0rem 0rem 0rem 45rem;
  }

  #concept {
    margin: 5rem 0rem 0rem 8.5rem;
    font-size: 4rem;
    color: var(--color-text);
  }

  #concept p {
    margin: 2rem 0rem 0rem 0rem;
    font-size: 3rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  #concept img {
    max-width: 100%;
    margin: 0rem 0rem 0rem 35rem;
  }

  #hr4 {
    max-width: 100%;
    margin: 4rem 0rem 0rem 35rem;
  }

  .portfolio {
    display: inline-block;
  }

  .portfolio h1 {
    text-align: center;
    font-size: 4rem;
  }

  .wordpress img {
    max-width: 100%;
    display: inline-block;
    margin: 0rem 0rem 0rem -60rem;
  }

  .wordpress p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0rem 0rem 0rem 11.5rem;
  }

  .hcj img {
    max-width: 100%;
    display: inline-block;
    margin: -35rem 0rem 80rem 70rem;
  }

  .hcj p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: -80rem 0rem 0rem 77rem;
  }

  .hcjpm img {
    max-width: 100%;
    display: inline-block;
    margin: 0rem 0rem 0rem -60rem;
  }

  .hcjpm p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0rem 0rem 0rem 11.5rem;
  }

  .hcjpm1 img {
    position: absolute;
    max-width: 100%;
    height: 27.5rem;
    display: inline-block;
    margin: -37rem 0rem 0rem 6rem;
  }

  .hcjpm1 p {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    margin: -9rem 0rem 0rem 77rem;
  }

  .java img {
    max-width: 100%;
    display: inline-block;
    margin: 0rem 0rem 0rem -60rem;
  }

  .java p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0rem 0rem 0rem 11.5rem;
  }

  .hcp img {
    max-width: 100%;
    display: inline-block;
    margin: -35rem 0rem 80rem 70rem;
  }

  .hcp p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: -69.2rem 0rem 0rem 77rem;
  }

  .hcp a {
    margin: 0;
    padding: 0;
  }

  #hr5 {
    max-width: 100%;
    margin: 4rem 0rem 0rem 35rem;
  }

  #contact h1 {
    font-size: 4rem;
    margin-left: 50rem;
  }

  input[type="text"],
  select 
  {
    width: 50%;
    padding: 1.2rem;
    border: 1px solid grey;
    border-radius: 2.2rem;
    box-sizing: border-box;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    resize: vertical;
    font-style: italic;
    font-weight: bold;
  }

  textarea{
    max-width: 100%;
    width: 45rem;
    padding: 1.2rem;
    height: 18rem;
    border: 0.1rem solid grey;
    border-radius: 2.2rem;
    box-sizing: border-box;
    margin: .6rem 0rem 1.6rem 0rem;
    resize: vertical;
    font-style: italic;
    font-weight: bold;
  }
  
  input[type="submit"] {
    max-width: 100%;
    background-color: #303030;
    color: white;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 2.2rem;
    cursor: pointer;
    margin-left: 18rem;
  }

  input[type="submit"]:hover {
    background-color: #f77322;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  #warning {
    color: #d64518;
    text-align: center;
  }

  #success {
    color: #f8b891;
    text-align: center;
  }

  .container {
    border-radius: 0.5rem;
    background-color: var(--bg-panel);
    padding: 2rem;
    margin-left: 40rem;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 8rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 5rem;
  }

  .linkedin a img {
    max-width: 100%;
    margin: -2rem 0rem -1rem 3rem;
  }

  .github a img {
    max-width: 100%;
    width: 3.1rem;
    margin: -2.7rem 0rem 5rem 8rem;
    border-radius: 3px;
  }

  footer p{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-top: -3rem;
  }

  #coeur {
    color: #f7a673;
    font-size: 25px;
  }
}
